<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YWNavAMapView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7AFCBFD1D40D9180070DEF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7AFCC161D40D9190070DEF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7AFCC211D40D9190070DEF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
